# Testing
pytest>=7.4.4
pytest-asyncio>=0.23.3
pytest-cov>=4.1.0
pytest-mock>=3.12.0
httpx>=0.26.0
factory-boy>=3.3.0
faker>=22.0.0

# Linting y formateo
ruff>=0.1.11
black>=23.12.1
isort>=5.13.2
mypy>=1.8.0

# Pre-commit hooks
pre-commit>=3.6.0

# Debugging
ipython>=8.20.0
ipdb>=0.13.13

# Documentación
mkdocs>=1.5.3
mkdocs-material>=9.5.3
